/****************** variables ******************/
/****************** paddings ******************/
/****************** media queries ******************/
/****************** normalisation ******************/
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

body {
  min-width: 250px;
  margin-left: auto;
  margin-right: auto;
}

/****************** general typographies ******************/
h1, h2, h3, h4, p, a, button {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 16px;
}

h2 {
  font-size: 1.3rem;
}

a {
  color: initial;
  text-decoration: none;
  background-color: transparent;
}

li {
  list-style-type: none;
}

/****************** header style ******************/
.header {
  height: 3.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

.header__img {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header__home-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__home-link .fa-arrow-left {
  margin: auto;
  font-size: 17px;
  font-weight: 900;
}

/****************** footer style ******************/
.footer {
  background-color: #2e2d2d;
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: center;
}

.footer__title, .footer i, .footer a {
  color: white;
}

.footer__title, .footer__navigation {
  margin-left: 35px;
  margin-right: 15px;
}

.footer__title {
  font-family: 'Shrikhand', cursive;
  font-size: 1.2rem;
  font-weight: 200;
  margin-bottom: 1.3rem;
}

.footer__navigation__list {
  line-height: 2.2rem;
}

.footer__navigation__list .fas {
  width: 2rem;
}

.footer__navigation__list .fa-hands-helping {
  font-size: 0.7rem;
}

/****************** search section ******************/
.location-banner {
  background-color: #ececec;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0px 8px 8px -10px #808080;
          box-shadow: inset 0px 8px 8px -10px #808080;
}

.location-banner__city {
  margin-left: 1rem;
  font-weight: 500;
}

.search-box {
  background-color: #f6f6f6;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
}

.search-box__title {
  font-size: 1.5rem;
  font-weight: 900;
}

.search-box__title, .search-box__title ~ * {
  margin: 0 15px;
}

/****************** Explications-section ******************/
.explications-section {
  padding: 2.5rem 15px;
  height: 30rem;
  max-width: 500px;
  border: solid green;
  margin: 0 auto;
}

.explications-section__title {
  font-size: 1.3rem;
  font-weight: 900;
  margin-bottom: 1.7rem;
}

.explications-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 20rem;
  padding-left: 15px;
}

.explications-items {
  width: 100%;
  position: relative;
  background-color: #f6f6f6;
  -webkit-box-shadow: 0 2px 6px  #dfdfdf;
          box-shadow: 0 2px 6px  #dfdfdf;
  border-radius: 20px;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.explications-items__numbers, .explications-items__logo, .explications-items__text {
  display: inline-block;
}

.explications-items__numbers {
  position: absolute;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  padding: 0.3rem 0.6rem;
  left: -1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.explications-items__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  text-align: center;
  font-size: 1.1rem;
  color: #757575;
}

.explications-items__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
  font-weight: 900;
}

.explications-items .fa-mobile-alt {
  font-size: 1.5rem;
}

/****************** index section ******************/
.index-section {
  background-color: #f6f6f6;
  padding: 2.5rem 15px;
}

.index-section__carousel {
  border: red solid;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (300px)[4];
      grid-template-rows: repeat(4, 300px);
  grid-gap: 30px;
}

.rs-card {
  border: gold solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rs-card__photo {
  width: 100%;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.rs-card__content {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  border: blue solid;
}

/****************** buttons ******************/
.submit-btn {
  padding: 15px 20px;
  border-radius: 50px;
  border: none;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  color: white;
  -webkit-box-shadow: 0 1px 7px  #808080;
          box-shadow: 0 1px 7px  #808080;
  font-weight: 500;
  cursor: pointer;
}

.submit-btn:focus {
  outline: none;
}
/*# sourceMappingURL=main.css.map */