/****************** Explications-section ******************/

.explications-section {
    padding: 2.5rem $screen-padding;
    height: 30rem;
    max-width: 500px;
    // border: solid green;
    margin: 0 auto;;

    &__title {
        font-size: 1.3rem;
        font-weight: 900;
        margin-bottom: 1.7rem;
    }

    &__list {
        display: flex;
        flex-direction: column;
        // flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        height: 20rem;
        // padding-left: 3*$screen-padding;
        // padding-right: 2*$screen-padding;
        padding-left: $screen-padding;
    }
}

.explications-items {
    // flex-basis: 100%;
    width: 100%;
    // min-width: 300px;
    // max-width: 400px;
    position: relative;
    background-color: $light-color-background;
    border-radius: 20px;
    box-shadow: 0 2px 6px  #dfdfdf;
    // min-width: 17rem;
    // max-width: 30rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: solid gold;
    
    
    &__numbers, &__logo, &__text {
        display: inline-block;
    }
    
    &__numbers {
        position: absolute;
        background-color: $primary-color;
        color: white;
        border-radius: 50%;
        padding: 0.3rem 0.6rem;
        left: -1rem;
        top: 50%;
        transform: translateY(-50%);
    }
    
    &__logo {
        flex: 0 1 20%;
        // margin-right: 3rem;
        text-align: center;
        font-size: 1.1rem;
        color: #757575;
        // border: red solid;
    }
    
    &__text {
        flex: 0 1 70%;
        font-weight: 900;
        // border: solid saddlebrown;
    }
    
    .fa-mobile-alt {
        font-size: 1.5rem;
        // border: solid;
    }
}