/****************** footer style ******************/

.footer {
    background-color: #2e2d2d;
}

.footer-container {    
    @include max-width-mobile-container;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    height: 15rem;
    // border: solid gold;

    
    &__title, i, a {
        color: white;
    }

    &__title, 
    &__navigation {
        @include screen-padding;
        @media screen and (max-width:535px) {
        margin-left: $screen-padding + $text-content-margin;  //a changer par une mixin ? 
            
        }
    }

    &__title {
        font-family: 'Shrikhand', cursive;
        font-size: 1.2rem;
        font-weight: 200;
        margin-bottom: 1.3rem;
        // border: solid gold;
    }

    &__navigation {
        // border: solid red;
        &__list {
            line-height: 2.2rem;
            .fas {
                width: 2rem
                // font-size: 2em;
            }
            
            .fa-hands-helping {
                font-size: 0.7rem;
            }
        }
    }



}