/****************** menu formulaire ******************/

.page-menu-form {
    // height: 21rem;  // a affiner
    display: flex;
    flex-direction: column;
    // border: solid salmon;
    
    &__submit-btn {
        margin-top: calc(#{$margin-bottom-title} *2);
        align-self: center;
    }
}

.course-category {
    min-width: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;  // a test
    
    &__title {
        text-transform: uppercase;
        font-weight: normal;
        font-size: 1.2rem;
        margin-top: calc(#{$margin-bottom-title} *1.5);
        margin-bottom: calc(#{$margin-bottom-title} /2);

        &:after {
            content:"";
            display: block;
            margin-top: 2px;
            width: 50px;
            border-bottom: 3px solid $tertiary-color;
        }        
    }
}

@keyframes course-apparition {
    from {
        opacity: 0;
    }
    to {
        // transform: translateY(0);
        opacity: 1;
    }
}