/****************** menu formulaire ******************/

.page-menu-form {
    // height: 21rem;  // a affiner
    display: flex;
    flex-direction: column;
    
    &__submit-btn {
        margin-top: calc(#{$margin-bottom-title} *2);
        align-self: center;
    }
    
    @media screen and (min-width: $desktop-max-width) {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;

        &__submit-btn {
            margin-top: $margin-bottom-title;
            margin-bottom: .5 * $margin-bottom-title;
        }
        
    }
}

.course-category {
    min-width: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;  // a test
    flex: 30%;
    
    &__title {
        text-transform: uppercase;
        font-weight: normal;
        font-size: 1.2rem;
        margin-top: calc(#{$margin-bottom-title} *1.5);
        margin-bottom: calc(#{$margin-bottom-title} /2);

        &:after {
            content:"";
            display: block;
            margin-top: 2px;
            width: 50px;
            border-bottom: 3px solid $tertiary-color;
        }        
    }

    @media screen and (min-width: $desktop-max-width) {
        justify-content: flex-start;
        gap: 30px;

        &__title {
            margin-bottom: $margin-bottom-title;
        }
        
    }
}