/****************** buttons ******************/

.big-btn {
    display: inline-block;
    @include screen-margin;
    padding: 15px 20px;
    border-radius: 50px;
    border: none;
    background: linear-gradient(175deg, $secondary-color, $primary-color);
    color: white;
    box-shadow: 0 1px 7px $box-shadow-btn-color;
    font-weight: 500;
    font-size: $subtitle-font-size;
    cursor: pointer;
    
    &:hover, &:focus {
        outline: none;
        background: linear-gradient(175deg, lighten($secondary-color, 2), lighten($primary-color, 2));
        box-shadow: 0 1px 7px darken($box-shadow-btn-color, 10), ;

        // filter: brightness(101%);
        // border: blue solid;
        }
}

.favorite-btn {
    width: min-content;
    height: min-content;
    justify-self: center;  
    align-self: center;
    position: relative;
    
    .heart-logo-favorite {
        font-size: 2rem;
        color: $main-color-logo;

        &::after {
            position: absolute;
            content: "\f004";
            font-weight: bold;
            color: #cc3a3a;
            left: 0;
            top: 0;
            opacity: 0;
            transition: all 1s cubic-bezier(.46,.07,.85,1.47);
        }

        &:hover, &:active {
            // color: #9b0101;
            // transform-origin: bottom;
            // transition: all 1s cubic-bezier(.46,.07,.85,1.47);

            &::after {
                opacity: 1;
                transform-origin: bottom;
                animation: favorite-btn-filling 1s cubic-bezier(.46,.07,.85,1.47);
            }
        }
    }
}
 
@keyframes favorite-btn-filling {
    0% {
        transform: scale(0, 0);
    }

    90% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}
