/****************** buttons ******************/

.big-btn {
    display: inline-block;
    @include screen-margin;
    padding: 15px 20px;
    border-radius: 50px;
    border: none;
    background: linear-gradient(175deg, $secondary-color, $primary-color);
    color: white;
    box-shadow: 0 1px 7px $box-shadow-btn-color;
    font-weight: 500;
    font-size: $subtitle-font-size;
    cursor: pointer;
    
    &:hover, &:focus {
        outline: none;
        outline-color: red;
        background: linear-gradient(175deg, lighten($secondary-color, 2), lighten($primary-color, 2));
        box-shadow: 0 1px 7px darken($box-shadow-btn-color, 10), ;

        // filter: brightness(101%);
        // border: blue solid;
        }
}

.favorite-btn {
    font-size: 2rem;
    color: $main-color-logo;
    // z-index: 9999;
    width: min-content;
    height: min-content;
    justify-self: center;  
    align-self: center;

    position: relative;
    // border: solid green;
    // width: 200px;
    // height: 200px;
    
    
    
    .heart-logo-favorite {
        // color: blue;
        font-size: 2rem;
        // opacity: 1;
        overflow: hidden;
        
        &::after {
            position: absolute;
            content: "\f004";
            font-weight: bold;
            color: #9b0101;
            left: 0;
            top: 0;
            // z-index: 1;
            opacity: 0;
        }
    }
    
    &:hover .heart-logo-favorite::after {
        opacity: 1;
        animation: heart-logo 2s both ease-out alternate 2;
        }

    &:hover .heart-logo-favorite {
        animation: heart-logo 2s both ease-out alternate 2;


    }

}
 
// animation : heart-logo 2s linear alternate both; 



@keyframes heart-logo {
    0% {
        opacity: 1;
        transform: scale(0, 0);
    }


    50% {
        // opacity: 0.5;
        // animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    80% {
        // opacity: 1;
        transform: scale(1.1, 1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}




// @keyframes heart-logo-full {
//     0% {
//         transform: scale(1, 1);
//     }
    
//     25% {
//         // transform: scaleY(0.2);
//     }

//     50% {

//     }

//     100% {
//         transform: scale(1, 1);

//     }
// }