/****************** check-icon-box ******************/

.check-icon-box {

    background-color: $tertiary-color;
    border-top-right-radius: $main-border-radius-card;
    border-bottom-right-radius: $main-border-radius-card;
    width: $check-icon-box-width;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    // transform: scaleX(1);
    // transition-duration: 2s;
    // transform-origin: right;

    transition: transform 1s ease-in;

    .fa-check {
        // position: absolute;
        justify-content: center;
        vertical-align: middle;
        background-color: white;
        color: $tertiary-color;
        font-size: 1.1rem;
        border-radius: 50%;
        padding: 0.4rem ;
        transition: transform 1.3s ease-in-out;
    }
}   