/****************** check-icon-box ******************/

.check-icon-box {

    background-color: $tertiary-color;
    border-top-right-radius: $main-border-radius-card;
    border-bottom-right-radius: $main-border-radius-card;
    width: $check-icon-box-width;
    
    transform: scaleX(1);
    transition-duration: 2s;
    transform-origin: right;
}   