/****************** normalisation ******************/

* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    background-color: transparent;
}

body {
    min-width: 260px;
    margin-left: auto;
    margin-right: auto;
}

fieldset {
    border: none;
  }

/****************** general typographies ******************/

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

h1, h2, h3, h4, p, a, button {
    font-family: 'Roboto', sans-serif;
    font-size: $font-size;
    color: $font-color ;
}

h1, h2, h3 {
    font-weight: $heavy-bold;
}

h1, h2 {
    font-size: $title-font-size;
}

h3 {
    font-size: $subtitle-font-size;
}

li {
    list-style-type: none;
}

a, button {
    text-decoration: none;
    border: none;
    cursor: pointer;
    outline: none;
    background:none;

    &:active {
        background-color: rgba(218, 216, 216, 0.13);
    }
}



