/****************** general typographies ******************/

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

h1, h2, h3, h4, p, a, button {
    font-family: 'Roboto', sans-serif;
    color: $font-color ;
    font-size: $font-size;
    // line-height: 2em;
}

h2 {
    font-size: 1.3rem;
    // font-weight: bold;
}

a {
    color: initial;
    text-decoration: none;
    background-color: transparent;
}

li {
    list-style-type: none;
}




